// ==========================  index.html  =========================================
// 三大平台，我來搞定，社群軟體圖片
.socialMediaIMG {
  width: 90px;
  height: 90px;
}

@include media-breakpoint-down(lg) {
  .socialMediaIMG {
    width: 60px;
    height: 60px;
  }
}
